.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  margin: auto;
  position: relative;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  flex-wrap: wrap;
}
.newsletter__section {
  margin: 1.5rem auto;
  width: 90%;
  background: linear-gradient(180deg, rgb(118, 131, 246) 0%, white 90%);
}
.news__lcard {
  flex-basis: 40%;
  flex-grow: 1;
  .img__holder {
    width: 90%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.news__rcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  flex-basis: 55%;
  flex-grow: 1;
}
.news__card__text {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  color: white;
}
.new_form_container {
  border: 1px solid red;
}
