input[type="radio"] {
  display: none;
}
.star__tag {
  font-size: 0.74rem;
  font-weight: 600;
  margin-left: 0.61rem;
}

.star__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
