input[type="radio"] {
  display: none;
}
.star__tag {
  font-size: 0.5rem;
  font-weight: 700;
}
.star {
  border: 1px solid red;
}
.star__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
