.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  margin: auto;
  position: relative;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.footer {
  margin-top: 4rem;
  background-color: white;
}
.footer__logo {
  flex-basis: 20%;
  flex-grow: 1;

  img {
    width: 65%;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  font-weight: 500;
  flex-grow: 1;
}
.social_container {
  display: flex;
  justify-content: flex-end;
  color: #5965e1;
  flex-basis: 20%;
  flex-grow: 1;
  li:hover {
    cursor: pointer;
    color: #a1a8f2;
  }
}
.under__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  text-align: center;
  border-top: 2px solid rgb(201, 200, 200);
}
