.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  gap: 2.1rem;
  padding: 2.1rem 0;
}
.popular-section {
  margin: 2rem 0;
}
.popular__title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
